<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- 此文件为通用mapper生成代码的配置 -->
<!-- 配置文件信息见：https://mapperhelper.github.io/docs/3.usembg/ -->
<generatorConfiguration>
	<properties
		resource="mybatis-generator/mybatisGeneratorinit.properties" />
	<context id="Mysql" defaultModelType="flat">

		<property name="javaFileEncoding" value="utf-8" />
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin" />

		<commentGenerator>
			<!-- 将数据库中表的字段描述信息添加到注释 -->
			<property name="addRemarkComments" value="true" />
			<!-- 注释里不添加日期 -->
			<property name="suppressDate" value="true" />
		</commentGenerator>

		<!-- jdbc连接信息 -->
		<jdbcConnection driverClass="${jdbc_driver}"
			connectionURL="${jdbc_url}" userId="${jdbc_user}"
			password="${jdbc_password}" />

		<!-- type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl" -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator
			targetPackage="com.edupay.pay.entity" targetProject="${project}">
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="mappers"
			targetProject="${resources}">
		</sqlMapGenerator>

		<javaClientGenerator
			targetPackage="com.edupay.pay.dao" targetProject="${project}"
			type="XMLMAPPER">
		</javaClientGenerator>

		<table tableName="bit_pay_bank_account"
			domainObjectName="PayBankAccount">
			<generatedKey column="pay_bank_account_id"
				sqlStatement="Mysql" identity="true" />
			<!-- <generatedKey column="pay_record_id" sqlStatement="select replace(UUID(),'-','') 
				userId"/> -->
		</table>

	</context>

</generatorConfiguration>